{% load static %}
{% load i18n %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Login - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'my_app\assets\css\bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'my_app\assets\css\font-awesome.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'my_app\assets\css\style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
	
    <body class="account-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				{% comment %} <a href="job-list.html" class="btn btn-primary apply-btn">Apply Job</a> {% endcomment %}
				<div class="container">
				
					<!-- Account Logo -->
					<div class="account-logo">
						{% comment %} <a href="index.html"><img src="assets\img\logo2.png" alt="Dreamguy's Technologies"></a> {% endcomment %}
					</div>
					<!-- /Account Logo -->
					{% comment %} <form class="form" method="POST" action="{% url 'index' %}"> {% endcomment %}

				<form action="{% url "login" %}" class="form" method="POST">
						{% csrf_token %}
							{% if s_msg %}
							<div class="alert alert-success" role="alert">
							  {{s_msg}}
							</div>
						{% endif %}
						{% if e_msg %}
						<div class="alert alert-danger" role="alert">
							{{e_msg}}
						</div>
						{% endif %} 
					
					<div class="account-box">
						<div class="account-wrapper">
							<h3 class="account-title">Login</h3>
							<p class="account-subtitle">Access to our dashboard</p>
							<div class="content">
								<div class="form-group mb-4">
								  <select class="form-control" name="role">
								   <option disabled selected >Select role</option>
								   <option value="HR" style="color: black;">HR</option>
								   <option value="Employe" style="color: black;">Employe</option>
								  </select>
								</div>
							</div>
							
							<!-- Account Form -->
								<div class="form-group">
									<label>Email Address</label>
									<input class="form-control" name="email" id = "email" type="text" required>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col" name="password" type="password" id = "password" id="password" required>
										<label>Password</label>
										</div>
										
									</div>
									<input class="form-control" type="password" name="password" required>
								</div id="div">
								
								<div class="form-group text-center">
									<input class="btn btn-primary account-btn" type="hidden" id = "button2" value = "login" />
								</div>
								 <div class="form-group text-center">
									<input class="btn btn-primary account-btn" type="submit" id = "button2" value = "login" />
								</div> 
								<div class="account-footer">
									<p>Don't have an account yet? <a href="{% url 'register' %}">Register</a></p>
								</div>
				</form>
							<!-- /Account Form -->
							
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		{% comment %} <script>
		
			$("#email").change(function(){
				alert("jQuery is working perfectly.");
			});      
		

	</script> {% endcomment %}



		<!-- jQuery -->
        <script src="{% static 'my_app\assets\js\jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'my_app\assets\js\popper.min.js' %}"></script>
        <script src="{% static 'my_app\assets\js\bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'my_app\assets\js\app.js' %}"></script>
		
    </body>
	
</html> 
